body {
  font-family: 'Avenir';
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0; 
padding-bottom: 8px; 
color: #484848;
}

a {
  color: #3B3B3B;
}

p {
  font-family: MartelFont;
  font-size: 14px;
  letter-spacing: 0.2;
}

h3 {
  font-family: MartelFont;
  font-size: 18px;
  letter-spacing: 0.2;
}

.sidenav {
  width: 20%;
  position: fixed;
  overflow-x: hidden;
  padding: 48 48 48 48;
}

.sidenav a,p {
  text-decoration: none;
  display: block;
  line-height: 2;
  
}

.sidenav a:hover {
  color: #888888;
}

.contact {
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 40px;
}

.main {
  margin-left: 25%; /* Same width as the sidebar + left position in px */
  padding: 48px 72px;
  position: absolute;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.card {
  display: flex;
  width: 640px;
  position: relative;
  margin-bottom: 24px;
}

.card-text {
  padding: 0 24 24 24;
  width: 340px;
}

.card-image {
  width: 240px;
  height: 180px;
}

.main a {
  text-decoration: none;
}

.main a:hover .card-text h2 {
  color: #888888;
  display: block;
}