
html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0;}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
ul,li{list-style:none;margin:0;padding:0;}

body {
  font-family: "Lato", sans-serif;
  padding-bottom: 40px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #FCFBFA;
}


h1  { font-family: Lato; font-weight: bold;font-size: 40px; line-height: 1; margin-bottom: 4px; color: #242424;}
h2  { font-family: Lato; font-weight: normal; font-size: 28px; line-height: 1; margin-bottom: 8px; color: #242424;}
h3  { font-family: Lato; font-weight: normal; font-size: 24px; line-height: 1.4; margin-bottom: 8px; color: rgba(0,0,0,.6);}
h4  { font-family: Lato; font-weight: bold;font-size: 20px; line-height: 1.5; margin-bottom: 4px; text-decoration: none; color: #242424;}
p,a { font-family: Lato; font-weight: normal; font-size: 20px; line-height: 1.75; margin-bottom: 4px; text-decoration: none; color: rgba(0,0,0,.6);}

nav {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-top: 0; /* required */
  z-index: 1;
}

.head-container {
  display: inline-flex;
  position: relative;
  background-color: #FCFBFA;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px !important;
  padding-bottom: 20px;
  overflow: hidden;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
  float: right;
}

.main-container {
	position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  grid-auto-rows: minmax(160px, auto);
}

img {
  width: 100%;
}

.work-card {
  display: block;
  position: relative;
  background-color: none;
}

.work-card img:hover {
	opacity: 0.8;
}
.work-card p,a {
  font-size: 14px;
  margin-top: 4px;
  color: #5B5B5B;
}

.projecthead-container{
  width: 100%;
  background-color: #FCFBFA;
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 20px;
  overflow: hidden;
  z-index: 1;
}

.project-nav {
  width: 72px;
  display: flex;
  justify-content: space-between;
}
.project-nav img {
  width: 24px;
  height: 24px;
}

.title {
  margin-top: 16px;
}

.article {
  padding-top: 20px;
}

.article img {
  width: 100%;
  z-index: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.article h4 {
  margin-top: 40px;
}