body {
  font-family: 'Avenir';
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, li {
margin: 0; 
padding-bottom: 8px; 
color: #484848;
}

a {
  color: #3B3B3B;
}

p, li {
  font-family: MartelFont;
  font-size: 16px;
  letter-spacing: 0.2;
}

li {
	padding-bottom: 4px;
}

h5 {
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 0.4;
}

h3 {
  font-family: MartelFont;
  font-size: 20px;
  letter-spacing: 0.1;
  font-weight: initial;
}

h2 {
	margin-bottom: 16px;
}

h1 {
	font-size: 40px;
	line-height: 1.2;
}
.sidenav {
  width: 20%;
  position: fixed;
  overflow-x: hidden;
  padding: 48 48 48 48;
}

.sidenav a,p {
  text-decoration: none;
  display: block;
  line-height: 2;
  
}

.sidenav a:hover {
  color: #888888;
}

.contact {
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 40px;
}

.main {
  margin-left: 25%; /* Same width as the sidebar + left position in px */
  padding: 48px 72px;
  max-width: 640px;
  position: absolute;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.head-title {
	margin-bottom: 32px;
	max-width: 560px;
}

.paragraph {
	margin-bottom: 16px;
}

.image-page {
	max-width: 720px;
	margin-bottom: 32px;
	margin-top: 8px;
	align-content: left;
}

.image-two {
	display: flex;
	justify-content: flex-start;
	max-width: 320px;
	max-height: 400px;
}

.image-two img {
	image-orientation: from-image;
	width: 100%;
	height: auto;
	padding: 0 24 0 24;
	margin-bottom: 24px;
}

.logo img {
	width: 240px;
	margin: 80 0 80 0;
}

.page-nav {
	max-width: 720px;
	display: flex;
	justify-content: flex-start;
	border-top: solid;
	border-top-color: #D8D8D8;
	border-width: thin;
	padding-top: 24px;
}

.page-nav a {
	text-decoration: none;
	padding-right: 40px;x
}

.page-nav a:hover {
	color: #888888;
}

.app {
	width: 128px;
	height: auto;
	background-color: black;
	padding: 8px 16px 8px 16px;
	border-radius: 8px;
}

.profile-image {
	width: 48px;
	height: 48px;
	border-radius: 40px;
	margin-right: 16px;
}

.profile {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}